   <include file="Public:top" />        
     <script>
        $(function() {
          $( "#datepicker" ).datepicker({dateFormat: "yy-mm-dd"});	
		  $( "#sub_tabs" ).tabs();  
        });	
		function delImages()
		{
			  $("#image").html('');
			  $("input[name=del_iamge]").val("true");			  
		}
		function delImages2()
		{
			  $("#image2").html('');
			  $("input[name=del_iamge2]").val("true");			  
		}
		$(function(){
			  $('.content-box .content-box-content div.tab-content').hide(); // Hide the content divs
			  $('ul.content-box-tabs li a.default-tab').addClass('current'); // Add the class "current" to the default tab
			  $('.content-box-content div.default-tab').show(); // Show the div with class "default-tab"
			  
			  $('.content-box ul.content-box-tabs li a').click( // When a tab is clicked...
				  function() { 				  
				  
					 var insertId = $(this).attr("href").substring($(this).attr("href").length-1);
					 var url = $(".insert a").attr("href").replace(/room\/\d/,"room/"+insertId);
					 $(".insert a").attr("href", url);				
					  
					  $(this).parent().siblings().find("a").removeClass('current'); // Remove "current" class from all tabs
					  $(this).addClass('current'); // Add class "current" to clicked tab
					  var currentTab = $(this).attr('href'); // Set variable "currentTab" to the value of href of clicked tab
					  $(currentTab).siblings().hide(); // Hide all content divs
					  $(currentTab).show(); // Show the content div with the id equal to the id of clicked tab
					  return false; 
				  }
			  );
		});
	</script>  

	</head>
  
	<body>
    
    

    

    
    <div id="body-wrapper" > <!-- Wrapper for the radial gradient background -->		

        <!--left start-->
		
        <include file="Public:left" /> 
        <!--left end-->
        
        
        <!-- End #sidebar -->			
		<div id="main-content"> <!-- Main Content Section with everything -->
        <div  id="header_logo">{:C("TITLE")}</div>	 		
			
			<!-- Page Head -->
			<div style="float:left;">
              <h2>Edit Trouble</h2>
            </div>
			<div class="clear"></div> <!-- End .clear -->           
                <!-- Insert -->
                <form action="{:U('Fault/editFaultAction')}" name="editForm" method="post" enctype="multipart/form-data" >	
                <div class="content-box">				
                    <div class="content-box-header">             
                          <ul class="content-box-tabs">			 
                              <li><a href="#tab1" id="menu1" class="default-tab current" style="text-transform:capitalize">General</a></li>	 
                              <li><a href="#tab2" id="menu2" style="text-transform:capitalize">Data</a></li>	                                 
                          </ul>	  
                         <span class="insert" style=" float:right; line-height:40px; font-size:14px; font-weight:bold;"><a href="{:U('index')}">List </a>&nbsp; &nbsp; </span>                        	
                      <div class="clear"></div>					
                    </div>
                    <div class="content-box-content">	                     
                       
                        <div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->	                            
                             
                             <div id="sub_tabs">                               
                               	  <ul>
                                    <volist name="lang" id="vo" key="k" >                                    
                                    	<li><a href="#tabs2-{$vo.value}"><img src="__PUBLIC__/imagesAdmin/{$vo.value}_icon.gif"> {$vo.txt}</a></li>
                                    </volist>   
                                 </ul>
                           
                               
                                <volist name="langList" id="vo" key="k" >         
                                	<div class="tabs" id="tabs2-{$vo}">                                    
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="editContent">
                                      <tr>
                                        <td class="fieldText">Trouble No:</td><td><input class="text-input small-input" value="{$fault_num[$k]}" style="width:590px!important"  type="text" id="news_title_{$k}" name="fault_num_{$k}" /></td>
                                      </tr>
                                      <tr>
                                        <td class="fieldText">Trouble Name:</td><td><input class="text-input small-input" value="{$fault_name[$k]}" style="width:590px!important"  type="text" id="news_title_{$k}" name="fault_name_{$k}" /></td>
                                      </tr>
                                      <tr>
                                        <td  class="fieldText" style="vertical-align:top;">Cause:</td><td> <textarea style="height:300px;width:590px!important" class="page_description HTMLeditor" name="fault_cause_{$k}">{$fault_cause[$k]}</textarea></td>
                                      </tr>
                                      <tr>  
                                        <td  class="fieldText" style="vertical-align:top;">Countermeasure</td><td> <textarea style="height:300px;width:590px!important" class="page_description HTMLeditor" name="fault_countermeasure_{$k}">{$fault_countermeasure[$k]}</textarea></td>
                                      </tr>
                                    </table>    
                                    </div>                                         
                                 </volist>   
                              </div> 
                           </div>  
                             
                                          
                       <!-- End #tab1 --> 
                       <div class="tab-content" id="tab2">
                       <p>
                          <label>Image:&nbsp;<input type="file" id="news_image" name="fault_img"></label>                              
                          {$imageShow}                                      
                        </p>
                        
                        <p>
                          <label>Image:&nbsp;<input type="file" id="news_image" name="fault_img_en"></label>                              
                          {$imageShow2}      
                        </p>
                        <p>
                          <label>Sort Order:&nbsp;</label>  
                          <input class="text-input small-input"  type="text" name="fault_sort"  value="{$fault_sort}" />                                                                
                        </p>   
                        
                        <!--<p>
                          <label>Date:&nbsp;</label>  
                          <input class="text-input small-input"  type="text" id="datepicker" name="news_added"  value="{$addDate|strtotime|date='Y-m-d',###}" />                                                                
                        </p>-->
                       </div>                         
                    </div>
                       
                
                </div>                 
                <!--End Insert -->
                 <div class="clear"></div>
                            <input type="hidden" name="cate_id" value="{$cate_id}">
                            <input type="hidden" name="fault_id" value="{$fault_id}">
                            <input  type="hidden" value="{$imageDir}" name="oldImage"/>
                            <input  type="hidden" value="{$imageDir2}" name="oldImage2"/>
                            <input class="button" style="text-transform:capitalize" type="submit" name="BtnSave"  value="save" />&nbsp;&nbsp;
                            <input class="button" type="button" name="back" onClick="window.location.href='{:U('index')}'"  value="Back" />    
			</form>
			
			<div class="clear"></div>
			
			
			<!-- Start Notifications -->
			
			

			
			<!-- End Notifications -->
			
            <div id="footer">
				<small> <!-- Remove this notice or replace it with whatever you want -->
						&#169; Copyright 2013
				</small>
			</div>
			
			
			
			<!-- End #footer -->
			
		</div> <!-- End #main-content -->
		
	</div>
	
	
	
	</body>
<!-- Download From www.exet.tk-->
</html>