<include file="Public:top"/>

		<!-- START OF BANNER -->
		<div id="banner">
			<div class="bannerImg">
				<img src="__PUBLIC__/imagesHome/banner.png" alt="" />
			</div>
		</div>
		<!-- END OF BANNER -->

		<!-- START OF MAIN -->
		<div id="main" class="mb50">
			<div class="main_left1">
				<div class="item">
					<div class="main_title1">
						<h2>{:L('Catalogues')}</h2>
						<a href="{:U('Index/cateJump',array('model_id'=>2,'cateid'=>52))}" class="more">{:L('More')}</a>
					</div>
					<div class="productTable">
					{:W('Cate/menusindexCatalogues')}
					</div>
				</div>

				<div class="item">
					<div class="main_title1">
						<h2>{:L('Products')}</h2>
						<!--  <a href="{:U('Index/cateJump',array('model_id'=>2,'cateid'=>27))}" class="more">{:L('More')}</a>-->
					</div>

					<div class="productList">
						{:W('Cate/menuProductsindex')}
					</div>
				</div>

				<div class="item">
					<div class="main_title1">
						<h2>{:L('Partnership')}</h2>
						<a href="{:U('Index/cateJump',array('model_id'=>5,'cateid'=>49))}" class="more">{:L('More')}</a>
					</div>

					<div class="partnerList">
						<a href="http://www.polyplastics.com/" target="_blank"><img src="__PUBLIC__/imagesHome/partner1.png" alt="" /></a>
						<a href="http://www.chimeicorp.com/zh-tw/" target="_blank"><img src="__PUBLIC__/imagesHome/partner2.png" alt="" /></a>
						<a href="http://www.dupont.com/" target="_blank"><img src="__PUBLIC__/imagesHome/partner3.png" alt="" /></a>
						<a href="http://www.npc.com.tw/" target="_blank"><img src="__PUBLIC__/imagesHome/partner4.png" alt="" /></a>
						<a href="http://www.teijin.co.jp/" target="_blank"><img src="__PUBLIC__/imagesHome/partner5.png" alt="" /></a>
						<a href="http://www.akchem.com/" target="_blank"><img src="__PUBLIC__/imagesHome/partner6.png" alt="" /></a>
						<a href="http://www.m-ep.co.jp/" target="_blank"><img src="__PUBLIC__/imagesHome/partner7.png" alt="" /></a>
						<a href="http://www.plastics.bayer.com/" target="_blank"><img src="__PUBLIC__/imagesHome/partner8.png" alt="" /></a>
					</div>
				</div>
			</div>

			<div class="main_right1">
				<div class="sideBarTitle">
					<a href="{:U('Index/cateJump',array('model_id'=>7,'cateid'=>54))}"><img src="<if condition="L('lang_id') eq 1">__PUBLIC__/imagesHome/sideBarTitle_en.png<else/>__PUBLIC__/imagesHome/sideBarTitle.png</if>" alt="" /></a>
				</div>

				<div class="contact">
					<a href="index.php/Home/Index/cateJump/model_id/6/cateid/50"><div class="conTitle">
					   {:L('ContactUs')}
					</div></a>

					<p>{:L('addressshow')}</p>

					<div class="phone">
						<i></i>
						852-24928640
					</div>
				</div>

				<div class="item w290">
					<div class="main_title1" style="width:290px;">
						<h2>{:L('News')}</h2>
						<a href="{:U('Index/cateJump',array('model_id'=>1,'cateid'=>26))}" class="more">{:L('More')}</a>
					</div>

					<div class="newList">
						{:W('Cate/menuindex')}
					</div>				
				</div>
			</div>
		</div>
		<!-- END OF MAIN -->
	</div>
	<!-- END OF CONTAINER -->

	<!-- START OF FOOTER -->
	<div id="footer">
		<div class="footerText">
			<p>Copyright &copy;2014 Prosperity Industrial (H.K.) Co., Ltd</p>
		</div>
	</div>
	<!-- END OF FOOTER -->
	<script src="__PUBLIC__/jsHome/jquery-2.0.2.js"></script>
</body>
</html>