<include file="Public:top"/>

		<!-- START OF MAIN -->
		<div id="main" class="pd4">
			<div class="breadcrumbs">
				<a href="index.html">{:L('Home')}</a>
				&gt;
				<span>{:L('Partnership')}</span>
			</div>

			<div class="mainInner">
				<h2 class="mian_title3 orange_bg">{:L('Partnership')}</h2>
				<div class="aboutInfo partnerInfo">
					<div class="parItme">
						<div class="parImg">
							<a href="http://www.akchem.com/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer4.jpg" alt="" />
							</a>
						</div>
						<div class="parImg">
							<a href="http://www.plasticsportalasia.net/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer7.jpg" alt="" />
							</a>
						</div>
						<div class="parImg last">
							<a href="http://www.plastics.bayer.com/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer6.jpg" alt="" />
							</a>
						</div>
					</div>

					<div class="parItme">

						<div class="parImg">
							<a href="http://www.chimeicorp.com/zh-tw/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer11.jpg" alt="" />
							</a>
						</div>

						<div class="parImg">
							<a href="http://www.dupont.com/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer3.jpg" alt="" />
							</a>
						</div>

						<div class="parImg last">
							<a href="http://www.emsgrivory.com/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer8.jpg" alt="" />
							</a>
						</div>
						

						
					</div>

					<div class="parItme">

						<div class="parImg">
							<a href="http://www.m-ep.co.jp/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer10.jpg" alt="" />
							</a>
						</div>
						<div class="parImg">
							<a href="http://www.npc.com.tw/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer2.jpg" alt="" />
							</a>
						</div>

						<div class="parImg last">
							<a href="http://www.polyplastics.com/" target="_blank">
								<img src="__PUBLIC__/imagesHome/producer1.jpg" alt="" />
							</a>
						</div>

						
					</div>

					<div class="parItme">
					<div class="parImg">
							<a href="http://www.sabic-ip.com/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer12.jpg" alt="" />
							</a>
						</div>
					
						

						<div class="parImg">
							<a href="http://www.teijin.co.jp/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer5.jpg" alt="" />
							</a>
						</div>
						

						<div class="parImg last">
							<a href="http://www.toray.com/"  target="_blank">
								<img src="__PUBLIC__/imagesHome/producer9.jpg" alt="" />
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- END OF MAIN -->
	</div>
	<!-- END OF CONTAINER -->

	<!-- START OF FOOTER -->
	<div id="footer">
		<div class="footerText">
			<p>Copyright &copy;2014 Prosperity Industrial (H.K.) Co., Ltd</p>
		</div>
	</div>
	<!-- END OF FOOTER -->
	<script src="js/jquery-2.0.2.js"></script>
</body>
</html>