	<li>
		<a href="{:U('Index/cateJump',array('model_id'=>1,'cateid'=>26))}" class="<if condition="$styles eq 'nav_news'">nav_news curr<else/>nav_news</if>">{:L('News')}</a>
	</li>
	<li>
		<a href="{:U('Index/cateJump',array('model_id'=>3,'cateid'=>48))}" class="<if condition="$styles eq 'Aboutus'">nav_about curr<else/>nav_about</if>">{:L('Aboutus')}</a>
	</li>
	<li>
		<a href="{:U('Index/cateJump',array('model_id'=>2,'cateid'=>27))}" class="<if condition="$styles eq 'nav_product'">nav_product curr<else/>nav_product</if>">{:L('Product')}</a>
	</li>
	<li>
		<a href="{:U('Index/cateJump',array('model_id'=>5,'cateid'=>49))}" class="<if condition="$styles eq 'nav_partner'">nav_partner curr<else/>nav_partner</if>">{:L('Partnership')}</a>
	</li>
	<li>
		<a href="{:U('Index/cateJump',array('model_id'=>6,'cateid'=>50))}" class="<if condition="$styles eq 'nav_contacts'">nav_contacts curr<else/>nav_contacts</if>">{:L('ContactUs')}</a>
	</li>
	<li>
		<a href="#" class="nav_last"></a>
	</li>