        <li>
           <in name="id1" value="$rules"><a href="{:U("News/index")}" class="current">News</a></in>
       </li>
       <li>           
           <in name="id2" value="$rules"><a href="{:U("Category/index")}" class="current">Category</a></in>
       </li>
       <li>
           <in name="id33" value="$rules"><a href="{:U("ProductsCategory/index")}" class="current">Products Category</a></in>
       </li>
       <li>
           <in name="id3" value="$rules"><a href="{:U("Products/index")}" class="current">Products</a></in>
       </li>
       <li>
           <in name="id44" value="$rules"><a href="{:U("FaultCategory/index")}" class="current">Trouble Category</a></in>
       </li>
       <li>
           <in name="id4" value="$rules"><a href="{:U("Fault/index")}" class="current">Trouble</a></in>
       </li>
        <li>
           <in name="id5" value="$rules"><a href="{:U("Banners/index")}" class="current">Banners</a></in>
       </li>