<include file="Public:top" />        
     <script>
        $(function() {
		  $(".status .light").click(function(){		
			   var id = $(this).parent().parent().attr("id");
			   $.get("{:U('changeStatus')}", { id: id },
				function(data){
					
				 	if (data == 1)
					 {
						 $("#"+id).find("span").removeClass("current");
						 $("#"+id).find("span").eq(0).addClass("current");
					 }
					 else if(data == 0)
					 {
						 $("#"+id).find("span").removeClass("current");
						 $("#"+id).find("span").eq(1).addClass("current");
					 }else{
						 alert('Change failed!');
						 return false;
					}
				}); 
		  })		  
        });	
		</script>

	</head>
	<style>
    .stats{ color:#F00;}
    </style>
  
	<body>
    
    

    

    
    <div id="body-wrapper" > <!-- Wrapper for the radial gradient background -->		

        <!--left start-->
		
        <include file="Public:left" /> 
        <!--left end-->
        
        
        <!-- End #sidebar -->			
		<div id="main-content"> <!-- Main Content Section with everything -->        
        		<div  id="header_logo">{:C("TITLE")}</div>	 		
			
			<!-- Page Head -->
			<div style="float:left; width:380px;">
			  <h2>Users</h2></div>
			<div id="sreach">
            
            </div>
            
			<div class="clear"></div> <!-- End .clear -->
            <br>             
               <div class="content-box"><!-- Start Content Box -->                  
                  <div class="content-box-header">
                   <if condition="$_SESSION['loginGroupId'] eq 1">  
                      <span class="insert" style=" float:right; line-height:40px; font-size:14px; font-weight:bold;"> <a href="{:U('addUser')}">+ Insert User</a>&nbsp; &nbsp; </span>
                   </if>   
                    <div class="clear"></div>                      
                  </div> <!-- End .content-box-header -->
                  
                  <div class="content-box-content">
                      <div class="tab-content default-tab" id="tab1">                       
                      <!-- This is the target div. id must match the href of this div's tab -->	
                      
                          
                          <table>
                            <thead>
                              <tr>								   
                                 <!-- <th>ID</th>-->
                                  <th width="50%">Title</th>   
                                   <th  >Group</th>                             
                                  <th   style="text-align:center">Status</th>          	                                                                                                        
                                  <th  width="250" style="text-align:center"></th>									   						 
                              </tr>								
                            </thead> 
                            <tbody>                           
                               <volist name="usersList" id="vo" mod="2" >          
                                 <tr <eq name="mod" value="1">class="alt-row"</eq>>	
                                    <td style="font-size:14px">{$vo.userName}</td>             
                                      <td style="font-size:14px">{$vo.title}</td>                                          
                                   <td style="text-align:center" id="{$vo.uid}" class="status">
                                   <if condition="$vo.status eq 1"><a href="__URL__/statsAction/ac/0/id/{$vo.id}/uid/{$vo.uid}">On</a><else/>
                                   <a href="__URL__/statsAction/ac/1/id/{$vo.id}/uid/{$vo.uid}" class="stats">Off</a></if>                                   
                                    </td>
                                    
                                  
                                    <td style="text-align:center;"> 
                                    
                                      <a href="{:U('changePwd',array('id'=>$vo['uid']))}" title="change">Change Password</a> &nbsp; &nbsp;          
                                       <a href="{:U('editUser',array('id'=>$vo['uid']))}" title="edit">Edit</a> &nbsp; &nbsp;    
                                       <if condition="$vo['uid'] neq $_SESSION['adminId'] || $_SESSION['loginGroupId'] lt (int)$_GET['gid']">                   
                                       	<a href="{:U('deleteUser',array('id'=>$vo['uid']))}" onClick="return confirm('Delete this user?')"  title="Delete">Delete</a> 
                                       </if>      
                                    </td>  
                                      
                                 </tr>
                               </volist>
                            </tbody>
                          </table>
                          <div class="pagination">{$page}<div style=" clear:both;"></div></div>						
                      </div> <!-- End #tab1 -->	
                                       
                      
                  </div> <!-- End .content-box-content -->
                  
              </div> <!-- End .content-box -->          
			
			
			<div class="clear"></div>
			
			
			<!-- Start Notifications -->
			
			

			
			<!-- End Notifications -->
			
            <div id="footer">
				<small> <!-- Remove this notice or replace it with whatever you want -->
						&#169; Copyright 2013
				</small>
			</div>
			
			
			
			<!-- End #footer -->
			
		</div> <!-- End #main-content -->
		
	</div>
	
	
	
	</body>
<!-- Download From www.exet.tk-->
</html>

		

