<include file="Public:top" />     
     <script>
        $(function() {
		  $('#list tbody tr:odd').removeClass('alt-row');
		  $(".status .light").click(function(){		
			   var id = $(this).parent().parent().attr("id");
			   $.get("{:U('changeStatus')}", { id: id },
				function(data){
					 $("#"+id).find("span").removeClass("current");
				 	 if (data == 1)
					 {
						 $("#"+id).find("span").eq(0).addClass("current");
					 }
					 else
					 {
						 $("#"+id).find("span").eq(1).addClass("current");
					 }
				}); 
		  })  		
	})
      
		
	</script>
    <style>
    .stats{ color:#F00;}
    </style>
	</head>
  
	<body >
    
    <div id="body-wrapper" > <!-- Wrapper for the radial gradient background -->		

        <!--left start-->
		
        <include file="Public:left" /> 
        <!--left end-->
        
        
        <!-- End #sidebar -->			
		<div id="main-content"> <!-- Main Content Section with everything -->
        <div  id="header_logo">{:C("TITLE")}</div>	 		
			
			<!-- Page Head -->
			<div style="float:left; width:380px;">
			  <h2>Trouble Category</h2></div>

            
			<div class="clear"></div> <!-- End .clear -->
               <div class="content-box"><!-- Start Content Box -->                  
                  <div class="content-box-header">  
                      <span class="insert" style=" float:right; line-height:40px; font-size:14px; font-weight:bold;"> 
                      
                      <!-- <if condition="$_SESSION['loginGroupId'] eq 1"><a href="{:U('ProductsCategory/add')}">+ insert </a>&nbsp; &nbsp; </if>  --></span>
                    <div class="clear"></div>                      
                  </div> <!-- End .content-box-header -->
                  
                  <div class="content-box-content">
                      <div class="tab-content default-tab" id="tab1">                   
                          <table id="list">
                            <thead>
                              <tr >		   
                                  <th>ID</th>
                                  <th width="50%">Name</th>                                 
                                  <th>Status</th>    	                                                                                                        
                                  <th  width="200" style="text-align:center"></th>									   						 
                              </tr>								
                            </thead> 
                            <tbody>
                            <foreach name="list" item="vo">
                               <tr class="alt-row">
                                  <td>{$vo.categories_id}<td><a>{$vo.html}{$vo.categories_name}</a></td> 
                                  <td>
                                  <if condition="$vo.categories_status eq 1"><a href="__APP__/Admin/FaultCategory/statsAction/ac/0/id/{$vo.categories_id}">On</a><else/>
                                  <a href="__APP__/Admin/FaultCategory/statsAction/ac/1/id/{$vo.categories_id}" class="stats">Off</a></if></td>
                                  <td><a href="__APP__/Admin/FaultCategory/edit/model_id/{$vo.model_id}/id/{$vo.categories_id}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                  </td>
                               </tr>
                            </foreach>
                            </tbody>
                          </table>
                          <div class="pagination">{$page}<div style=" clear:both;"></div></div>						
                      </div>
                                       
                      
                  </div> <!-- End .content-box-content -->
                  
              </div> <!-- End .content-box -->
             
			
			
			<div class="clear"></div>
			
			
			<!-- Start Notifications -->
			
			

			
			<!-- End Notifications -->
			
            <div id="footer">
				<small> <!-- Remove this notice or replace it with whatever you want -->
						&#169; Copyright 2013
				</small>
			</div>
			
			
			
			<!-- End #footer -->
			
		</div> <!-- End #main-content -->
		
	</div>
	
	
	</body>
<!-- Download From www.exet.tk-->
</html>